.textBox{
  margin:20px 0px 20px 25px; 
  height:30px; 
  width:80%;
  text-align:center;
}
.loginContainer{
  width:60%;
  margin: 0 0 0 20%;
 border:3px groove green;
 //height:370px;
 // background:#abc123;
} 
.loginform { 
    padding: 4%;
} 
.loginHeader{
  background-color: #1234ab;
  text-align:center;
  font-style: italic;
  color:#fff;
  padding:4%;  
}
.loginFooter{
  padding:3%;
  background-color:#9876fe;
  text-align:center;  
}
input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}